/* media query */

@media screen and (min-width: 320px) and (max-width: 576px) { 
    div {
        width: calc((100% / 10) - 4px);
        font-size: .25rem;
        margin: 0;
    }
}

@media screen and (max-width: 576px) { 
    div {
        font-size: .35rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) { 
    div {
        font-size: .5rem;
    }
}
